<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Icons page</title>
    <un-pipe css="ungic_icons"></un-pipe>
</head>
<body>
    {{{include "templates/ungic-icons.hbs" data="icons"}}}
</body>
</html>