@use ".core" as this;
@use "ungic.theme" as theme;
@use "sass:meta" as meta;


@use "ungic.sprites" as sprites;
@use "ungic.font-icons" as fonts;
@if (meta.mixin-exists('render', sprites) and release()) {
    @include sprites.render();
}
@if (meta.mixin-exists('render', fonts) and release()) {
    @include fonts.render();
}


@include this.component {
   &-page {
        max-width: 1000px;
        margin: 20px auto;
        h2 {
            font-size: 2em;
            margin-bottom: 1em;
            color: theme.gray(-.6);
            font-weight: normal;
        }
       .icon {
           &-name {
                display: block;
                line-height: 1;
                margin-top: .5em;
                color: theme.gray(-.4);
           }
       }
   }
   &-items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
        padding-bottom: 2em;
        &:not(:last-child) {
            border: none;
            border-bottom: 2px solid theme.gray(.8);
        }
   }
   &-item {
        padding: 1.5em;
        text-align: center;
        transition: all .2s;
        &:hover {
          transform:scale(1.2);
        }
   }
}
