@use "functions" as *;
@use "init" as config;
@use "sass:map";
@use "ungic.meta"as un-meta;


/*
*  Generate css rules for theme inversion only
*/
@mixin is-inverse {
    $inverse: get(inverse);
    $inverse-mode: get(inverse-mode);
    @if $inverse and not $inverse-mode {
        @include un-meta.wrapsys('[un-prefix="{{html:not(.un-inverse)}}"]') {
            @content;
        }
    } @else if $inverse {
        @include un-meta.wrapsys('[un-save-inverse-props]') {
            @content;
        }
    }
}

/*
*   To make css rules by theme type (dark / light)
*/
@mixin is-type($type) {
    $inverse: get(inverse);
    $inverse-mode: get(inverse-mode);
    @if get(theme-type) == $type and not $inverse-mode {
        @include un-meta.wrapsys('[un-prefix="{{html:not(.un-inverse)}}"]') {
            @content;
        }
    } @else if $inverse-mode and get(theme-type) == $type {
        @include un-meta.wrapsys('[un-save-inverse-props]') {
            @content;
        }
    }
}
@mixin is-dark() {
    @include is-type(dark) {
        @content
    }
}
@mixin is-light() {
    @include is-type(light) {
        @content
    }
}

/*
*   To make css rules by theme name
*/
@mixin is-theme($theme-name) {
    $theme-prefix: map.get(config.$project, theme-prefix);
    $active-name: get(name);
    @if $theme-name == $active-name {
        @if $theme-name == 'default' {
            @include un-meta.wrapsys('[un-save-props] html:not(.un-theme)') {
                @content;
            }
        } @else {
            @include un-meta.wrapsys('[un-save-props]') {
                @content;
            }
        }
    }
}

/*
*   Ignore inversion
*/
@mixin ignore-inverse {
    @include un-meta.wrapsys('[un-inverse-ignore]') {
        @content;
    }
}

/*
*   Custom method for manual inversion control
*/
@mixin is($prefix) {
    @include un-meta.wrapsys("[un-prefix='{{#{$prefix}}}']") {
        @content;
    }
}