@use ".core" as this;
@use "ungic.theme" as theme;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as un-utils;
@use "ungic.components" as components;

@use "sass:meta" as meta;
@use "sass:map" as map;

// Include icons modules
@use "ungic.font-icons" as ficons;
@use "ungic.sprites" as sprites;

// Get myproject component as module
@use "ungic.components.myproject" as myproject;

// Get mixins of myproject
@use "ungic.components.myproject.mixins" as myproject-mixins;

// Check if the icon plugin generates this type of icon
@if (ficons.exist()) {
    @include ficons.render();
}
@if (sprites.exist()) {
    @include sprites.render();
}


@include this.component {
    @include myproject-mixins.testMixin {
        .any-rules {
            @include meta.load-css("ungic.components.myproject.render");
        }
    }
    &-title {
        //@debug &;
    }
    &-big {
        //@debug &;
    }
    &.method {
        //@debug &;
    }
    &-body {
        @include this.this {
            //@debug &;
            &-title {
                //@debug &;
                @include this.wrap('.un-inverse') {
                    //@debug &;
                }

                @include this.wrap('-big') {
                    //@debug &;
                }

                @include this.wrap('.un-inverse, .un-theme-allora') {
                    //@debug &;
                }
            }
        }
    }

    .button {
        //@debug &;
        @include this.and(-big) {
            //@debug &;
            span {
                //@debug &;
            }
        }
        span {
            @include this.and(-big) {
                //@debug &;
            }
        }

        @include this.and('-big, -small, .small, .big') {
            //@debug &;
        }
    }
    &-button {
        @include this.and('.method') {
            //@debug &;
        }
        @include this.and('-method') {
            //@debug &;
        }
    }
    .alert {
        @include this.and(':hover,:focus') {
            //@debug &;
        }
    }
    &-alert {
        .button {
            @include this.wrap(':hover,:focus') {
                //@debug &;
            }
        }
    }

    .title {
        @include this.nest('+' + this.cid(true)) {
            //@debug &;
        }

        @include this.nest(h3) {
            //@debug &;
        }
    }
    @include this.nest('+') {
        @include this.this {
            .title {
                //@debug &;
            }
        }
    }
}
