/*
*  Framework system file
*/

@use "../config" as this;
@use "sass:map";
@use "sass:list";
@use "sass:selector";
@use "sass:string" as str;
@use '../functions' as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as *;

/*
*   Component wrapper for writing component rules
*/
@mixin component {
    #{cid(true)} {
        @content;
    }
}

/*
*   Wraps content in a component selector
*/
@mixin this {
    #{cid(true)} {
        @content;
    }
}

/*
*   Wraps component rules and assigns a selector before a component selector
*/
@mixin wrap($suffix: null, $merge: true) {
    @if $suffix {
        $output: ();
        $suffix: str-replace($suffix, '__this', cid(true));
        $fs: str.slice($suffix, 0, 1);
        $lsts: (':', '-', '+', '~', '_');
        @if list.index($lsts, $fs) and $merge {
            $suffix: selector.append(cid(true), $suffix);
        }
        @each $selector in & {
            $replacements:  selector.parse($suffix);
            @each $replacement in $replacements {
                $output: list.append($output, str-replace(inspect($selector), cid(true), #{$replacement cid(true)}, false), comma);
            }
        }
        @at-root #{$output} {
            @content;
        }
    } @else {
        &#{cid(true)} {
            @content;
        }
    }
}

/*
*   Adds a method to the component class
*   -method, .method
*/
@mixin and($suffix: null) {
    @if $suffix {
        $output: ();
        $suffix: str-replace($suffix, '__this', cid(true));
        @each $selector in & {
            $replacements:  selector.append(cid(true), $suffix);
            @each $replacement in $replacements {
                $output: list.append($output, str-replace(inspect($selector), cid(true), $replacement, false), comma);
            }
        }
        @at-root #{$output} {
            @content;
        }
    } @else {
        &#{cid(true)} {
            @content;
        }
    }
}

/*
*   Adds a selector immediately after the component class thereby allow you to write rules for siblings elements
*/
@mixin nest($suffix: null) {
    @if $suffix {
        $output: ();
        $suffix: str-replace($suffix, '__this', cid(true));
        @each $selector in & {
            $replacements:  selector.nest(cid(true), $suffix);
            @each $replacement in $replacements {
                $output: list.append($output, str-replace(inspect($selector), cid(true), $replacement, false), comma);
            }
        }
        @at-root #{$output} {
            @content;
        }
    } @else {
        &#{cid(true)} {
            @content;
        }
    }
}

