@use "ungic.project.config" as config;
@use "ungic.project.properties" as properties;
@use "sass:meta";
@use "sass:map";

$config: meta.module-variables(config);
$properties: meta.module-variables(properties);

/*
*   Get project config
*/

@function config($key: "", $subkey: false) {
  @if map.has-key($config, $key) {
    $result: map.get($config, $key);
    @if $subkey and type-of($result) == map {
      @if map.has-key($result, $subkey) {
        @return map.get($result, $subkey);
      } @else {
        @return $result;
      }
    } @else {
      @return $result;
    }
  } @else if $key != "" {
    @return false;
  }
  @return $config;
}

/*
*   Get project property value
*/
@function prop($prop) {
  $props: $properties;
  @if not map.has-key($props, $prop) {
    @return null;
  }
  @return map.get($props, $prop);
}

@function properties() {
  @return $properties;
}

@function props() {
  @return $properties;
}