@use ".core" as *;
@use "ungic.theme"as *;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as un-utils;
@use "sass:meta" as meta;
@use "sass:map" as map;

@use "./bootstrap";

html {
	font-size: prop(font-size);
}