@use ".core" as this;
@use "ungic.theme" as *;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as *;
@use "ungic.components" as components;

@use "sass:meta" as meta;
@use "sass:map" as map;
@use "sass:list" as list;
@use "sass:math" as math;

// Tools
$breakpoints: breakpoints(keys);

$only-max-width-container: this.config(container-max-width-only);

.#{this.config(class-names, container)} {
  width: 100%;
  padding-left: u(this.prop(padding, left));
  padding-right: u(this.prop(padding, left));
  margin-left: auto;
  margin-right: auto;
  @if $only-max-width-container {
      max-width: breakpoint(lg);
  }
  @for $i from 1 through list.length($breakpoints) {
    $max: "";
    @if $i + 1 <= list.length($breakpoints) {
      $max: "and" media("max-#{list.nth($breakpoints, $i + 1)}");
    }
    @if not $only-max-width-container {
      @include media(screen "and" media("min-#{list.nth($breakpoints, $i)}") $max) {
        max-width: container-size(list.nth($breakpoints, $i));
      }
    }
  }
}


@include this.component {
  @if this.config(columns-number-group) {
    @each $grid, $columns in this.config(columns-number-group) {
      &-#{$grid} {
        $has_rules: false;
        @for $i from 1 through list.length($columns) {
          $col-num: list.nth($columns, $i);
          > .row > .#{this.config(class-names, column)} {
            $type: type-of($col-num);
            @if ($type == map and not $has_rules) {
              $has_rules: true;
            }
            @if ($i == 1) {
              @include generate-custom-grid($col-num);
            } @else {
              $max: "";
              @if ($i <= list.length($breakpoints)) {
                $max: "and" media(max-#{nth($breakpoints, $i)});
              }
              @include media(screen "and" media(min-#{nth($breakpoints, $i - 1)}) $max) {
                @if ($has_rules and $type != map) {
                  &:nth-child(1n) {
                    @include generate-custom-grid($col-num);
                  }
                } @else {
                  @include generate-custom-grid($col-num);
                }
              }
            }
          }
        }
      }
    }
  }
  @if this.config(gap-custom) {
    @each $class-name, $px in this.config(gap-custom) {
      $margin: $px;
      &-gap-custom-#{$class-name} {
        margin-top: u(negative($margin));
        margin-bottom: u(negative($margin));
        padding-left: u($margin);
        padding-right: u($margin);
        &, .#{this.config(class-names, nest)} {
          > .row {
            margin-right: u(negative($margin));
            margin-left: u(negative($margin));
            > .#{this.config(class-names, column)} {
              padding: u($margin);
              > .#{this.config(class-names, nest)} {
                margin-top: u(negative($margin));
                margin-bottom: u(negative($margin));
              }
            }
          }
        }
      }
    }
  }
  @if this.config(gap-space) and this.config(gap-space) > 0 and this.config(gap-steps) and this.config(gap-steps) > 0 {
    &-gap {
      @for $i from 1 through this.config(gap-steps) {
        &-#{$i} {
          $margin: this.config(gap-space) * $i;
          margin-top: u(negative($margin));
          margin-bottom: u(negative($margin));
          padding-left: u($margin);
          padding-right: u($margin);
          &,
          .#{this.config(class-names, nest)} {
            > .row {
              margin-right: u(negative($margin));
              margin-left: u(negative($margin));
              > .#{this.config(class-names, column)} {
                padding: u($margin);
                > .#{this.config(class-names, nest)} {
                  margin-top: u(negative($margin));
                  margin-bottom: u(negative($margin));
                }
              }
            }
          }
        }
      }
    }
  }
  .#{this.config(class-names, column)} {
    &-stretch {
      flex-grow: 1;
    }
  }
}
.row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-stretch {
    > .#{this.config(class-names, column)} {
      flex-grow: 1;
    }
  }
  flex-direction: row;
  &-reverse {
    flex-direction: row-reverse;
  }
  @include grid-columns();
  @for $i from 1 through list.length($breakpoints) {
    @include media(screen "and" media("min-#{list.nth($breakpoints, $i)}")) {
      @include grid-columns("-f#{list.nth($breakpoints, $i)}");
    }
    $reverse: (list.length($breakpoints) - $i) + 1;
    // Reverse
    @include media(screen "and" media("max-#{list.nth($breakpoints, $reverse)}")) {
      @include grid-columns("-t#{list.nth($breakpoints, $reverse)}");
    }
  }

}
.row-inline {
  display: -webkit-inline-flex !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flex !important;
  display: -o-inline-flex !important;
  display: inline-flex !important;
}
.ai {
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
  &-stretch {
    align-items: stretch;
  }
  &-baseline {
    align-items: baseline;
  }
}

.ac {
  &-center {
    align-content: center;
  }
  &-end {
    align-content: flex-end;
  }
  &-start {
    align-content: flex-start;
  }
  &-between {
    align-content: space-between;
  }
  &-around {
    align-content: space-around;
  }
  &-stretch {
    align-content: stretch;
  }
}

.jc {
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.as {
  &-stretch {
    align-self: stretch;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
  &-center {
    align-self: center;
  }
  &-baseline {
    align-self: baseline;
  }
}


@include responsive-tool(hide, true) {
  display: none !important;
}