<!DOCTYPE html>
<html lang="{{lang}}" dir="{{#if rtl}}rtl{{/if}}{{#unless rtl}}ltr{{/unless}}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if components}}
    <un-pipe css="{{components}}"></un-pipe>
    {{/if}}
    <title>{{title}}</title>
</head>
<body>

</body>
</html>