@use ".core" as this;
@use "ungic.theme" as theme;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as un-utils;
@use "ungic.components" as components;

@use "sass:meta" as meta;
@use "sass:map" as map;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

.jsonViewWrap {
    background-color: theme.gray(.9);
    .jsonView {
        color: theme.gray();
        >.value.boolean,
        >.value.number {
            color: theme.color(info);
        }
        >.name {
            color: theme.color(system, -.5);
        }
        >.value.string {
            color: theme.color(danger, -.2);
        }
    }
}

a {
    color: theme.color(system);
    &:visited {
        color: theme.color(system, -.4);
    }
    &:active, &:focus {
        color: theme.color(system, theme.subs(.2, -.6));
    }
}

body {
    background-color: theme.color(background-color);
}

@include this.component {
    font-family: 'Comfortaa', cursive;
    color: theme.color(text-color);
    background-color: theme.color(background-color);
    line-height: 1.6;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1000px;
    // Include from html
    @include meta.load-css("ungic.from-html.inline");
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.3em;
    }
    &-section {
        background-color: theme.gray(.9);
        padding: 1em;
        margin-bottom: 1em;
    }
}
