@use ".core" as this;
@use "ungic.theme" as *;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as un-utils;
@use "ungic.components.grid.functions" as grid;
@use "sass:meta" as meta;
@use "sass:map" as map;


@include this.component {
  @include meta.load-css("ungic.from-html.inline");
  h1 {
    color: color(primary);
    @media screen and (grid.media(max-md, false)) {
      color: color(secondary);
    }
  }
}