/*
*  Framework system file
*/

@use "./config" as this;
@use "ungic.default-properties" as default-props;

@use "sass:map";
@use "sass:color";
@use "sass:meta";
@use "sass:list";
@use "sass:string" as str;
@use "ungic.utils" as utils;
@use "ungic.meta" as un-meta;
@use "ungic.meta.property-handlers" as *;
@use "sass:selector";

$component: meta.module-variables(this);

$default-properties: meta.module-variables(default-props);

/*
*   Gel all component properties
*/
@function properties() {
  @return this.$properties;
}

@function props() {
  @return this.$properties;
}

/*
*   Function to work with the properties
*   Checks if a property is supported by a function for processing it, then calls this function and passes arguments to it otherwise returns the default property value
*/
@function prop($prop, $args...) {
  $all_props: utils.merge($default-properties, this.$properties);
  $props: map.keys($all_props);
  @if meta.function-exists($prop) {
    @if list.length($args) == 0 {
      @return meta.call(meta.get-function($prop), $component);
    }
    @return meta.call(meta.get-function($prop), $component, $args...);
  } @else {
    @if not list.index($props, $prop) {
      @if str.index($prop, '-') {
        $property: str.slice($prop, str.index($prop, "-") + 1, -1);
        @if not list.index($props, $property) {
          @warn '#{$prop} property not specified';
          @return "";
        }
      } @else {
        @warn '#{$prop} property not specified';
        @return "";
      }
    } @else {
      @if str.index($prop, line-height) == 1 {
        @return prop(font, line-height);
      }
      @if str.index($prop, border) and str.index($prop, radius) {
        $stripped: str.slice($prop, str.index($prop, "-") + 1, -1);
        $stripped: str.slice($stripped, 1, str.index($stripped, "radius") - 2);
        @return prop(border-radius, $stripped);
      } @else if str.index($prop, border) == 1 {
        $methods: (color, width, style);
        $method: str.slice($prop, str.index($prop, "-") + 1, -1);
        @if (list.index($methods, $method)) {
          @return prop(border, $method);
        }
      }
      @if str.index($prop, padding) == 1 {
        @return prop(padding, str.slice($prop, str.index($prop, "-") + 1, -1));
      }
      @if str.index($prop, margin) == 1 {
        @return prop(margin, str.slice($prop, str.index($prop, "-") + 1, -1));
      }
      @if str.index($prop, font) == 1 {
        $methods: (family, style, size, variant, weight);
        $method: str.slice($prop, str.index($prop, "-") + 1, -1);
        @if (list.index($methods, $method)) {
          @return prop(font, $method);
        }
      }
      @if str.index($prop, background) == 1 {
        $methods: (attachment, color, position, image, repeat);
        $method: str.slice($prop, str.index($prop, "-") + 1, -1);
        @if (list.index($methods, $method)) {
          @return prop(background, $method);
        }
      }
      @if str.index($prop, list-style) == 1 {
        $methods: (type, position, image);
        $method: str.slice($prop, str.length("list-style-") + 1, -1);
        @if (list.index($methods, $method)) {
          @return prop(list-style, $method);
        }
      }
    }
  }
  @return map.get($all_props, $prop);
}

/*
*   Checks if the property value is different from the default (default properties are exclusively in the core of the framework)
*/
@function is-prop-changed($prop) {
  $props: meta.module-variables(default-props);
  @if not map.has-key($props, $prop) {
    @return null;
  }
  @if map.get($props, $prop) == map.get(this.$properties, $prop) {
    @return false;
  }
  @return true;
}