@use ".core"as this;
@use "ungic.theme" as *;
@use "functions"as *;
@use "mixins"as *;
@use "ungic.meta"as un-meta;
@use "ungic.utils"as *;
@use "ungic.components"as components;

@use "sass:meta"as meta;
@use "sass:map"as map;
@use "sass:list"as list;
@use "sass:math"as math;

body {
	margin: 0;
	font-family: this.prop(font-family);
	font-size: this.prop(font-size);
	line-height: this.prop(line-height);
	background-color: color(background-color);
	color: color(text-color);

	&,
	* {
		box-sizing: border-box;
	}
}

img {
	max-width: 100%;
}

hr {
	box-sizing: content-box;
	height: 0;
	border: none;
	border-bottom: 1px solid gray(.8);
	overflow: visible;
}

pre {
	font-family: monospace;
	font-size: 1em;
	overflow-x: auto;
	margin: prop(margin, top) 0;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: color(system);
	&:hover {
		color: color(system, -.2);
	}
	&:focus {
		color: color(system, -.4);
	}
	&[href^="#"] {
		text-decoration: none;
	}
}

a,
btn,
img,
input,
select {
	&:focus {
		outline: 1px solid color(system);
	}
}

abbr,
acronym {
	&,
	&[title] {
		text-decoration: none;
		cursor: help;
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted;
	}
}

label {
	color: color(text-color);
}
/*
h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: u(this.prop(font-size)) / 2;
	margin-bottom: u(this.prop(font-size)) / 2;
	line-height: 1.4;

	&:first-child {
		margin-top: 0;
	}
}

ul,
ol {
	margin: this.prop(margin-top) / 2 0;
	padding-left: this.prop(padding-left);
	line-height: 1.5;

	&.list {
		&-none {
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

dl {
	margin: this.prop(margin-top) / 2 0;
}

dd {
	margin: 0;
}

dt {
	font-weight: 700;
	margin-bottom: this.prop(margin-bottom) / 2
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	color: inherit;
	box-shadow: none;
	&::-moz-focus-inner {
		border: 0;
	}
}

button,
select {
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

fieldset {
	padding: this.prop(padding);
	border: 1px solid gray(0.8);
}

legend {
	color: inherit;
	padding: 0 this.prop(padding-left) / 2;
	white-space: normal;
	display: block;
	margin-left: negative(this.prop(padding-left) / 2);
}

progress {
	vertical-align: baseline;
}

dfn {
	font-style: italic;
}

address {
	font-style: italic;
}

cite {
	font-style: italic;
}

q {
	quotes: "«""»";
	display: inline;

	&.s2 {
		quotes: "“""”";
	}

	&.s3 {
		quotes: none;

		&:before {
			content: "«";
		}

		&:after {
			content: "»";
		}

		&:before,
		&:after {
			font-size: 0.8em;
		}
	}
}

p {
	margin-top: this.prop(margin-top) / 2;
	margin-bottom: this.prop(margin-top) / 2;

	&:last-child {
		margin-bottom: 0;
	}

	&:first-child {
		margin-top: 0;
	}
}

bdo {
	unicode-bidi: bidi-override;
}

s,
strike,
del {
	text-decoration: line-through;
}

small {
	font-style: normal;
	font-size: 0.8em;
}

strong,
b {
	font-weight: bolder;
}

tt,
code,
kbd,
samp {
	font-family: monospace;
}

.samp {
	font-family: monospace;
}

code,
.code {
	padding: 0 this.prop(font-size) / 4;
	border-radius: 3px;
	tab-size: 2em;
	color: color(system);
	background-color: color(system, .9);
}

* {
	-webkit-tap-highlight-color: transparent;
}

pre {
	padding: this.prop(padding) / 2;
	line-height: 1.2;
	tab-size: 2em;
	background-color: gray(.9);
}

sub,
sup {
	font-size: 0.6em;
	line-height: 0;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

template {
	display: none;
}

[hidden] {
	display: none !important;
}

var,
.var {
	font-family: monospace;
	font-style: normal;
	border-radius: 3px;
	padding: 0 this.prop(font-size) / 4;
	background-color: gray(.9);
	color: color(text-color);
}

mark {
	background-color: #fffe34;
	color: #000;
}

u,
ins {
	text-decoration: underline;
}

i,
em {
	font-style: italic;
}

kbd {
	color: #fff;
	border-radius: 3px;
	padding: 0 this.prop(font-size) / 4;
	background-color: color(text-color);
}

.figure,
figure {
	display: block;
	margin: 0;
}

.table {
	&-stretch {
		width: 100%;
	}

	&-caption-top {
		caption-side: top;
	}
}

.table,
table {
	border-collapse: collapse;
	caption-side: bottom;

	caption {
		padding: this.prop(padding-top) 0;
	}
}

caption {
	display: table-caption;
}

[disabled]::selection {
	background-color: transparent;
}

[disabled] {
	cursor: not-allowed;
}