/*
*   Framework system file!
*   The main functions for working with the component
*/

@use "../config" as this;

@use "sass:map";
@use "sass:color";
@use "sass:meta";
@use "sass:list";
@use "sass:string" as str;
@use "ungic.meta" as un-meta;
@use "sass:selector";

/*
*   Checks if component exists
*/
@function exist() {
  @return true;
}
/*
*   Export Options to Json
*   Params:
*       $oid - Custom option id
*       $data - Any data
*/
@function export($oid, $data) {
  @return un-meta.export(this.$cid, $oid, $data);
}

/*
*   Adds a selector with the component class name
*/
@function this($selector) {
  @return inspect(nth(selector.append(cid(true), $selector), 1));
}

/*
*   Get component CID or selector with true param
*/
@function cid($as_selector: null) {
  $cid: this.$cid;
  @if $as_selector {
    @return ".#{$cid}";
  }
  @return $cid;
}

/*
*   Get processed config of component
*/
@function config($key: "", $subkey: false) {
  @if map.has-key(this.$config, $key) {
    $result: map.get(this.$config, $key);
    @if $subkey and type-of($result) == map {
      @if map.has-key($result, $subkey) {
        @return map.get($result, $subkey);
      } @else {
        @return $result;
      }
    } @else {
      @return $result;
    }
  } @else if $key != "" {
    @return false;
  }
  @return this.$config;
}