@use "sass:string" as str;
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "ungic.utils" as *;
@use "ungic.project.config" as config;
@use "ungic.default-properties" as default-props;

/*
*   Export data for a specific component
*   $cid -> Component id
*   $oid -> Option Name (any key name)
*   $data -> Any data
*/
@function export($cid, $oid, $data) {
    @if(type-of($oid) != 'string' and type-of($oid) != 'number') {
        @warn "oid should be a string or a number";
        @return null;
    }
    @return to-export($cid, $oid, json-encode($data));
}

@function parse-pm($options:()) {
    $data: (top: 0,
        right: 0,
        bottom: 0,
        left: 0);

    @if(list.length($options) == 1) {
        $data: merge($data, (top: list.nth($options, 1),
            right: list.nth($options, 1),
            bottom: list.nth($options, 1),
            left: list.nth($options, 1)));
    }

    @else if(list.length($options) == 2) {
        $data: merge($data, (top: list.nth($options, 1),
            right: list.nth($options, 2),
            bottom: list.nth($options, 1),
            left: list.nth($options, 2)));
    }

    @else if(list.length($options) == 3) {
        $data: merge($data, (top: list.nth($options, 1),
            right: list.nth($options, 2),
            bottom: list.nth($options, 3),
            left: list.nth($options, 2)));
    }

    @else if(list.length($options) == 4) {
        $data: merge($data, (top: list.nth($options, 1),
            right: list.nth($options, 2),
            bottom: list.nth($options, 3),
            left: list.nth($options, 4)));
    }

    @return $data;
}

@function hsl($color, $strip-unit: true, $asmap: false) {
    @if('color' != type-of($color)) {
        @warn '#{$color} is not a color';
        @return ();
    }

    $h: color.hue($color);
    $s: color.saturation($color);
    $l: color.lightness($color);

    @if($strip-unit) {
        $s: strip-unit(color.saturation($color));
        $l: strip-unit(color.lightness($color));
        $h: strip-unit(color.hue($color));
    }

    @if(not $asmap) {
        @return ($h, $s, $l);
    }

    @else {
        @return (h: $h,
            s: $s,
            l: $l);
    }
}

@function lightest($color1, $color2) {
    $hsl-color1: list.nth(hsl($color1), 3);
    $hsl-color2: list.nth(hsl($color2), 3);
    @if $hsl-color1 > $hsl-color2 {
        @return $color1;
    }
    @return $color2;
}

@function darkest($color1, $color2) {
    $hsl-color1: list.nth(hsl($color1), 3);
    $hsl-color2: list.nth(hsl($color2), 3);
    @if $hsl-color1 < $hsl-color2 {
        @return $color1;
    }
    @return $color2;
}

@function is-darker($this-color, $than-this-color) {
    $hsl-color1: list.nth(hsl($this-color), 3);
    $hsl-color2: list.nth(hsl($than-this-color), 3);
    @return $hsl-color1 < $hsl-color2;
}

@function get-all-available-сolors() {
    $available-colors: config.$available-theme-colors;
    $required-colors: (primary, secondary, system, info, danger, success, warning, text-color, background-color);
    @each $color-name in $required-colors {
        @if not list.index($available-colors, $color-name) {
            $available-colors: list.append($available-colors, $color-name, $separator: comma);
        }
    }
    @return $available-colors;
}

@function is-color-available($color-name) {
    @if type-of($color-name) != string {
        $color-name: meta.inspect($color-name);
    }
    $available-colors: get-all-available-сolors();
    @if not list.index($available-colors, $color-name) {
        @return false;
    }
    @return true;
}

@function check-color-name($color-name) {
    @if type-of($color-name) != string {
        $color-name: meta.inspect($color-name);
    }
    @if $color-name == "gray" or $color-name == "grey" {
        @return true;
    }
    @if is-color-available($color-name) {
        @return true;
    }
    @warn '#{$color-name} is not available color!';
    @return false;
}

/*
*   Returns the default property value (From core of framework)
*/
@function default-prop($prop) {
  $props: meta.module-variables(default-props);
  @if not map.has-key($props, $prop) {
    @return null;
  }
  @return map.get($props, $prop);
}


@function parse-selector($selector) {
    $output: ();
    @if type-of($selector) == list {
        @each $selector in & {
            $ishtml: list.nth($selector, 1);
            @if $ishtml == html {
                $selector: remove-nth($selector, 1);
            }
            $output: list.append($output, $selector, comma);
        }
    } @else {
        @warn '#{$selector} selector must be of type list';
        $output: $selector;
    }
    @return $output;
}