/*
*   Functions for calculating various project and component properties
*/

@use "ungic.meta" as un-meta;
@use "ungic.default-properties" as default-props;
@use "sass:map";
@use "sass:string" as str;
@use "sass:meta";
@use "sass:math";
@use "sass:list";
@use "ungic.project" as project;
$project_props: project.$properties;

@function _pm-parse($props, $prop) {
  $storage: (top:0, right:0, bottom:0, left:0);

  @if map.has-key($props, $prop) {
      @if type-of(map.get($props, $prop)) == map {
        $storage: map.merge($storage, map.get($props, $prop));
      } @else {
        $storage: un-meta.parse-pm(map.get($props, $prop));
      }
  }
  @return $storage;
}
@function _pm-inv-replace($props, $storage, $prop) {
  $top: #{$prop}-top;
  $right: #{$prop}-right;
  $bottom: #{$prop}-bottom;
  $left: #{$prop}-left;

  @if map.has-key($props, $top) {
    $storage: map.merge($storage, (top: map.get($props, $top)));
  }
  @if map.has-key($props, $right) {
    $storage: map.merge($storage, (right: map.get($props, $right)));
  }
  @if map.has-key($props, $bottom) {
    $storage: map.merge($storage, (bottom: map.get($props, $bottom)));
  }
  @if map.has-key($props, $left) {
    $storage: map.merge($storage, (left: map.get($props, $left)));
  }
  @return $storage;
}
@function _border-handler($border, $properties) {
    @if map.has-key($properties, "border") {
        $_border: map.get($properties, "border");
        @if type-of($_border) == map {
            $border: map.merge($border, $_border);
        } @else if($_border == inherit) {
            $border: map.merge($border, (
                width: inherit,
                style: inherit
            ));
        } @else if type-of($_border) != list {
            $_border: ($_border, );
        }

        $styles: (dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden);
        @each $value in $_border {
            @if type-of($value) == number {
                $border: map.merge($border, (
                    width: $value
                ));
            }
            @if list.index($styles, $value) {
                $border: map.merge($border, (
                    style: $value
                ));
            }
            @if type-of($value) == color {
                $border: map.merge($border, (
                    color: $value
                ));
            }
        }
    }
    @if map.has-key($properties, border-width) {
        $border: map.merge($border, (
            width: map.get($properties, border-width)
        ));
    }
    @if map.has-key($properties, border-style) {
        $border: map.merge($border, (
            style: map.get($properties, border-style)
        ));
    }
    @if map.has-key($properties, border-color) {
        $border: map.merge($border, (
            color: map.get($properties, border-color)
        ));
    }
    @return $border;
}
@function border($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);
    $border: (
        width: default-props.$border-width,
        style: default-props.$border-style,
        color: default-props.$border-color
    );

    $border: _border-handler($border, $properties);
    $border: _border-handler($border, $private_properties);

    @if type-of($param) == bool and $param {
        @return $border;
    }

    @if type-of($param) == string and map.has-key($border, $param) {
        @return map.get($border, $param);
    }
    $border-width: map.get($border, width);
    $border-style: map.get($border, style);
    $border-color: map.get($border, color);
    $output: ();

    @if($border-style == none) {
        @return none;
    }
    @if($border-width == 0) {
        @return 0;
    }

    @if $border-width != inherit {
        $output: list.append($output, $border-width);
    }
    @if $border-style != inherit {
        $output: list.append($output, $border-style);
    }
    @if $border-color != inherit {
        $output: list.append($output, $border-color);
    }
    @if list.length($output) == 0 {
        @return inherit;
    }
    @return $output;
}
@function padding($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);

    // Parse common property of project
    $padding: _pm-parse($project_props, padding);

    // Replace individual props of project
    $padding: _pm-inv-replace($project_props, $padding, padding);

    // Replace common property of project to component props
    @if map.has-key($properties, padding) {
      $padding: _pm-parse($properties, padding);
    }

    // Replace individual props of component
    $padding: _pm-inv-replace($private_properties, $padding, padding);

    @if type-of($param) == bool and $param {
        @return $padding;
    }

    @if type-of($param) == string and map.has-key($padding, $param) {
        @return map.get($padding, $param);
    }
    $padding-top: map.get($padding, top);
    $padding-right: map.get($padding, right);
    $padding-bottom: map.get($padding, bottom);
    $padding-left: map.get($padding, left);
    @if list.index(map.values($padding), inherit) {
        @return inherit;
    }
    @if $padding-top == $padding-right and $padding-bottom == $padding-left and $padding-left == $padding-top {
        @return $padding-top;
    }
    @if $padding-top == $padding-bottom and $padding-left == $padding-right {
        @return $padding-top $padding-left;
    }
    @if $padding-left == $padding-right {
        @return $padding-top $padding-left $padding-bottom;
    }
    @return (
        $padding-top
        $padding-right
        $padding-bottom
        $padding-left
    );
}
@function margin($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);

    // Parse common property of project
    $margin: _pm-parse($project_props, margin);

    // Replace individual props of project
    $margin: _pm-inv-replace($project_props, $margin, margin);

    // Replace common property of project to component props
    @if map.has-key($properties, margin) {
      $margin: _pm-parse($properties, margin);
    }

    // Replace individual props of component
    $margin: _pm-inv-replace($private_properties, $margin, margin);

    @if type-of($param) == bool and $param {
        @return $margin;
    }

    @if type-of($param) == string and map.has-key($margin, $param) {
        @return map.get($margin, $param);
    }
    $margin-top: map.get($margin, top);
    $margin-right: map.get($margin, right);
    $margin-bottom: map.get($margin, bottom);
    $margin-left: map.get($margin, left);
    @if list.index(map.values($margin), inherit) {
        @return inherit;
    }
    @if $margin-top == $margin-right and $margin-bottom == $margin-left and $margin-left == $margin-top {
        @return $margin-top;
    }
    @if $margin-top == $margin-bottom and $margin-left == $margin-right {
        @return $margin-top $margin-left;
    }
    @if $margin-left == $margin-right {
        @return $margin-top $margin-left $margin-bottom;
    }
    @return (
        $margin-top
        $margin-right
        $margin-bottom
        $margin-left
    );
}
@function _font-handler($font, $properties) {
    $weights: (bold bolder normal lighter 100 200 300 400 500 600 700 800 900);
    $styles: (italic oblique);
    $variants: (small-caps);
    @if map.has-key($properties, font) {
        @if type-of(map.get($properties, font)) == map {
            $font: map.merge($font, map.get($properties, font));
        } @else {
            $_font: map.get($properties, font);
            @if $_font == inherit {
                $font: map.merge($font, (style: inherit, size: inherit, variant: inherit, family: inherit, weight: inherit));
            } @else {
                @if type-of($_font) != list {
                    $_font: ($_font, );
                }
                @each $value in $_font {
                    @if list.index($styles, $value) {
                       $font: map.merge($font, (style: $value));
                    }
                    @else if list.index($variants, $value) {
                       $font: map.merge($font, (variant: $value));
                    }
                    @else if list.index($weights, $value) {
                       $font: map.merge($font, (weight: $value));
                    } @else if type-of($value) == number {

                        @if not math.is-unitless($value) {
                            $font: map.merge($font, (size: $value));
                        } @else {
                            $font: map.merge($font, (line-height: $value));
                        }
                    } @else if type-of($value) == string  {
                        $font: map.merge($font, (family: $value));
                    }
                }
            }
        }
    }
    @if map.has-key($properties, font-style) {
        $font: map.merge($font, (style: map.get($properties, font-style)));
    }
    @if map.has-key($properties, font-size) {
        $font: map.merge($font, (size: map.get($properties, font-size)));
    }
    @if map.has-key($properties, font-weight) {
        $font: map.merge($font, (weight: map.get($properties, font-weight)));
    }
    @if map.has-key($properties, line-height) {
        $font: map.merge($font, (line-height: map.get($properties, line-height)));
    }
    @if map.has-key($properties, font-family) {
        $font: map.merge($font, (family: map.get($properties, font-family)));
    }
    @if map.has-key($properties, font-variant) {
        $font: map.merge($font, (variant: map.get($properties, font-variant)));
    }
    @return $font;
}
@function font($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);

    $font: (
        style: default-props.$font-style,
        variant: default-props.$font-variant,
        weight: default-props.$font-weight,
        size: default-props.$font-size,
        line-height: default-props.$line-height,
        family: default-props.$font-family
    );

    $font: _font-handler($font, $properties);
    $font: _font-handler($font, $private_properties);

    @if type-of($param) == bool and $param {
        @return $font;
    }

    @if type-of($param) == string and map.has-key($font, $param) {
        @return map.get($font, $param);
    }

    $font-size: map.get($font, size);
    $font-variant: map.get($font, variant);
    $font-weight: map.get($font, weight);
    $font-style: map.get($font, style);
    $font-family: map.get($font, family);

    @if $font-variant == inherit and $font-weight == inherit and $font-style == inherit and $font-family == inherit {
        @return inherit;
    }

    $output: ();

    @if $font-style != inherit {
        $output: list.append($output, $font-style, space);
    }
    @if $font-variant != inherit {
        $output: list.append($output, $font-variant, space);
    }
    @if $font-weight != inherit {
        $output: list.append($output, $font-weight, space);
    }
    $output: list.append($output, str.unquote(map.get($font, 'size') + "/"+ map.get($font, 'line-height')), space);
    @if $font-family != inherit {
        $output: list.append($output, $font-family, space);
    }
    @return $output;
}
@function _background-handler($background, $properties) {
    $attachments: (fixed scroll local);
    $positions: (left center right);
    $repeats: (no-repeat repeat repeat-x repeat-y);

    @if map.has-key($properties, background) {
        @if type-of(map.get($properties, background)) == map {
            $background: map.merge($background, map.get($properties, background));
        } @else {
            $_bg: map.get($properties, background);
            @if type-of($_bg) != list {
                $_bg: ($_bg, );
            }
            $position: ();
            @each $value in $_bg {
                @if list.index($attachments, $value) {
                    $background: map.merge($background, (attachment: $value));
                }
                @if list.index($repeats, $value) {
                    $background: map.merge($background, (repeat: $value));
                }
                @if type-of($value) == string and str.index($value, 'url(') {
                    $background: map.merge($background, (image: $value));
                } @else if type-of($value) == number or list.index($positions, $value) {
                    @if list.length($position) < 2 {
                        $position: list.append($position, $value, space);
                        @if list.index($_bg, $value) + 1 <= list.length($_bg) {
                            $next-value:  list.nth($_bg, list.index($_bg, $value) + 1);
                            @if(type-of($next-value) == number or list.index($positions, $next-value)) {
                                $position: list.append($position, $next-value);
                            }
                        } @else {
                            $position: list.append($position, $value, space);
                        }
                    }
                }
            }

            @if list.length($position) {
                $background: map.merge($background, (position: $position));
            }
        }
    }

    @if map.has-key($properties, background-image) {
        $background: map.merge($background, (image: map.get($properties, background-image)));
    }

    @if map.has-key($properties, background-attachment) {
        $background: map.merge($background, (attachment: map.get($properties, background-attachment)));
    }

    @if map.has-key($properties, background-repeat) {
        $background: map.merge($background, (repeat: map.get($properties, background-repeat)));
    }

    @if map.has-key($properties, background-position) {
        $position: map.get($properties, background-position);
        @if type-of($position) != list {
            $position: ($position $position);
        }
        $background: map.merge($background, (position: $position));
    }
    @return $background;
}
@function background($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);
    $theme: map.get($component, theme);

    $background: (
        attachment: default-props.$background-attachment,
        color: map.get(map.get($theme, colors), background-color),
        image: default-props.$background-image,
        position: default-props.$background-position,
        repeat: default-props.$background-repeat
    );

    $background: _background-handler($background, $properties);
    $background: _background-handler($background, $private_properties);


    @if type-of($param) == bool and $param {
        @return $background;
    }

    @if type-of($param) == string and map.has-key($background, $param) {
        @return map.get($background, $param);
    }

    @if(map.get($background, image) == default-props.$background-image) {
        @return (
            map.get($background, color)
        );
    }
    $output: ();
    $background-attachment: map.get($background, attachment);
    $background-repeat: map.get($background, repeat);
    $background-position: meta.inspect(map.get($background, position));

    @if $background-attachment != default-props.$background-attachment {
        $output: list.append($output, $background-attachment);
    }

    $output: list.append($output, map.get($background, color));
    $output: list.append($output, map.get($background, image));


    @if $background-position != meta.inspect(default-props.$background-position) {
        $output: list.append($output, $background-position);
    }
    @if $background-repeat != default-props.$background-repeat {
        $output: list.append($output, $background-repeat);
    }

    @return $output;
}

@function _list-style-handler($list, $properties) {
    $positions: (inside outside);
    $types: (circle disc square armenian decimal decimal-leading-zero georgian lower-alpha lower-greek lower-latin lower-roman upper-alpha upper-latin upper-roman);
    @if(map.has-key($properties, list-style)) {
        @if type-of(map.get($properties, list-style)) == map {
            $list: map.merge($list, map.get($properties, list-style));
        } @else {
            $_list: map.get($properties, list-style);
            @if $_list == none or $_list == inherit  {
                $list: map.merge($list, (type: $_list));
            } @else {
                @each $value in $_list {
                    @if list.index($positions, $value) {
                        $list: map.merge($list, (position: $value));
                    }
                    @if list.index($types, $value) {
                        $list: map.merge($list, (type: $value));
                    }
                    @if type-of($value) == string and str.index($value, 'url(') {
                        $list: map.merge($list, (image: $value));
                    }
                }
            }
        }
    }
    @if map.has-key($properties, list-style-type) {
        $list: map.merge($list, (type: map.get($properties, list-style-type)));
    }
    @if map.has-key($properties, list-style-position) {
        $list: map.merge($list, (position: map.get($properties, list-style-position)));
    }
    @if map.has-key($properties, list-style-image) {
        $list: map.merge($list, (image: map.get($properties, list-style-image)));
    }
    @return $list;
}
@function list-style($component, $param:false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);

    $list: (
        type: default-props.$list-style-type,
        position: default-props.$list-style-position,
        image: default-props.$list-style-image,
    );

    $list: _list-style-handler($list, $properties);
    $list: _list-style-handler($list, $private_properties);


    @if type-of($param) == bool and $param {
        @return $list;
    }
    @if type-of($param) == string and map.has-key($list, $param) {
        @return map.get($list, $param);
    }

    $output: ();

    @if map.has-key($list, type) and map.get($list, type) != inherit {
        $output: list.append($output, map.get($list, type), space);
    }

    @if map.get($list, position) != default-props.$list-style-position and map.get($list, position) != inherit {
        $output: list.append($output, map.get($list, position), space);
    }

    @if map.get($list, image) != default-props.$list-style-image and map.get($list, image) != inherit {
        $output: list.append($output, map.get($list, image), space);
    }

    @if list.length($output) == 0 {
        @return inherit;
    }

    @return $output;
}

@function _border-radius-handler($radius, $properties) {
    @if map.has-key($properties, border-radius) {

        @if type-of(map.get($properties, border-radius)) == map {
            $radius: map.merge($radius, map.get($properties, border-radius));
        } @else {
            $_radius: map.get($properties, "border-radius");
            @if $_radius == inherit {
                $radius: map.merge($radius, (
                    top-left:inherit,
                    top-right:inherit,
                    bottom-right:inherit,
                    bottom-left:inherit
                ));
            } @else {
                @if type-of($_radius) == number {
                    $_radius: ($_radius, );
                }
                @if type-of($_radius) == list {
                    @if list.length($_radius) == 1 {
                        $radius: map.merge($radius, (
                            top-left:list.nth($_radius, 1),
                            top-right:list.nth($_radius, 1),
                            bottom-right:list.nth($_radius, 1),
                            bottom-left:list.nth($_radius, 1)
                        ));
                    }
                    @if list.length($_radius) == 2 {
                        $radius: map.merge($radius, (
                            top-left:list.nth($_radius, 1),
                            top-right:list.nth($_radius, 2),
                            bottom-right:list.nth($_radius, 1),
                            bottom-left:list.nth($_radius, 2)
                        ));
                    }
                    @if list.length($_radius) == 3 {
                        $radius: map.merge($radius, (
                            top-left:list.nth($_radius, 1),
                            top-right:list.nth($_radius, 2),
                            bottom-right:list.nth($_radius, 3),
                            bottom-left:list.nth($_radius, 2)
                        ));
                    }
                    @if list.length($_radius) == 4 {
                        $radius: map.merge($radius, (
                            top-left:list.nth($_radius, 1),
                            top-right:list.nth($_radius, 2),
                            bottom-right:list.nth($_radius, 3),
                            bottom-left:list.nth($_radius, 4)
                        ));
                    }
                }
            }
        }
    }
    @if map.has-key($properties, border-top-left-radius) {
        $radius: map.merge($radius, (top-left: map.get($properties, border-top-left-radius)));
    }
    @if map.has-key($properties, border-top-right-radius) {
        $radius: map.merge($radius, (top-right: map.get($properties, border-top-right-radius)));
    }
    @if map.has-key($properties, border-bottom-right-radius) {
        $radius: map.merge($radius, (bottom-right: map.get($properties, border-bottom-right-radius)));
    }
    @if map.has-key($properties, border-bottom-left-radius) {
        $radius: map.merge($radius, (bottom-left: map.get($properties, border-bottom-left-radius)));
    }
    @return $radius;
}
@function border-radius($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);

    $radius: (top-left:0, top-right:0, bottom-right:0, bottom-left:0);

    $radius: _border-radius-handler($radius, $properties);
    $radius: _border-radius-handler($radius, $private_properties);

    @if list.index(map.values($radius), inherit) {
        @return inherit;
    }

    @if type-of($param) == bool and $param {
        @return $radius;
    }

    @if type-of($param) == string and map.has-key($radius, $param) {
        @return map.get($radius, $param);
    }
    $top-left: map.get($radius, top-left);
    $top-right: map.get($radius, top-right);
    $bottom-left: map.get($radius, bottom-left);
    $bottom-right: map.get($radius, bottom-right);
    @if $top-left == $bottom-right and $bottom-left == $top-right and $bottom-left == $top-left {
        @return $top-left;
    } @else if $top-left == $bottom-right and $bottom-left == $top-right {
        @return $top-left $bottom-left;
    } @else if $top-right == $bottom-left {
        @return $top-left $top-right $bottom-right;
    }
    @return (
        $top-left
        $top-right
        $bottom-left
        $bottom-right
    );
}

@function overflow($component, $param: false) {
    $properties: map.get($component, properties);
    $overflow: map.get($properties, overflow);
    $overflow-x: map.get($properties, overflow-x);
    $overflow-y: map.get($properties, overflow-y);
    $output: $overflow;
    @if $overflow-x == $overflow-y and $overflow != $overflow-x {
        $output: $overflow-x;
    }
    @if type-of($param) == bool and $param {
        @return (
            overflow: $output,
            overflow-x: $overflow-x,
            overflow-y: $overflow-y,
        );
    }
    @return $output;
}



@function _outline-handler($outline, $properties) {
    @if map.has-key($properties, "outline") {
        $_outline: map.get($properties, "outline");
        @if type-of($_outline) == map {
            $outline: map.merge($outline, $_outline);
        } @else if($_outline == inherit) {
            $outline: map.merge($outline, (
                width: inherit,
                style: inherit
            ));
        } @else if type-of($_outline) != list {
            $_outline: ($_outline, );
        }

        $styles: (dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden);
        @each $value in $_outline {
            @if type-of($value) == number {
                $outline: map.merge($outline, (
                    width: $value
                ));
            }
            @if list.index($styles, $value) {
                $outline: map.merge($outline, (
                    style: $value
                ));
            }
            @if type-of($value) == color {
                $outline: map.merge($outline, (
                    color: $value
                ));
            }
        }
    }
    @if map.has-key($properties, outline-width) {
        $outline: map.merge($outline, (
            width: map.get($properties, outline-width)
        ));
    }
    @if map.has-key($properties, outline-style) {
        $outline: map.merge($outline, (
            style: map.get($properties, outline-style)
        ));
    }
    @if map.has-key($properties, outline-color) {
        $outline: map.merge($outline, (
            color: map.get($properties, outline-color)
        ));
    }
    @return $outline;
}
@function outline($component, $param: false) {
    $properties: map.get($component, properties);
    $private_properties: map.get($component, private-properties);
    $outline: (
        width: default-props.$outline-width,
        style: default-props.$outline-style,
        color: default-props.$outline-color
    );

    $outline: _outline-handler($outline, $properties);
    $outline: _outline-handler($outline, $private_properties);

    @if type-of($param) == bool and $param {
        @return $outline;
    }

    @if type-of($param) == string and map.has-key($outline, $param) {
        @return map.get($outline, $param);
    }
    $outline-width: map.get($outline, width);
    $outline-style: map.get($outline, style);
    $outline-color: map.get($outline, color);
    $output: ();

    @if($outline-style == none) {
        @return none;
    }
    @if($outline-width == 0) {
        @return 0;
    }

    @if $outline-width != inherit {
        $output: list.append($output, $outline-width);
    }
    @if $outline-style != inherit {
        $output: list.append($output, $outline-style);
    }
    @if $outline-color != inherit {
        $output: list.append($output, $outline-color);
    }
    @if list.length($output) == 0 {
        @return inherit;
    }
    @return $output;
}