/*
*   Any custom mixins
*/
@use "../.core" as this;
@use "ungic.theme" as *;
@use "ungic.utils" as *;
@use "sass:map" as map;
@use "sass:list" as list;
@use "sass:meta" as meta;
@use "sass:string" as str;
@use "sass:math" as math;
@use "sass:selector" as selector;
@use "../functions" as *;


@mixin media($rules) {
  @media #{$rules} {
    @content;
  }
}

@mixin responsive-rule($selector, $point) {
  .#{$selector}-f#{$point} {
		@include media(screen and media(min-#{$point})) {
			@content;
		}
  }
  .#{$selector}-t#{$point} {
		@include media(screen and media(max-#{$point})) {
			@content;
		}
  }
}

@mixin responsive-tool($tool-name, $static-tool, $skipbp: null) {
	$breakpoints: this.config(breakpoints);
	@if($static-tool == true) {
		.#{$tool-name} {
			@content;
		}
	}
	@each $point, $media in $breakpoints {
		@if($skipbp != $point) {
			@include responsive-rule($tool-name, $point) {
				@content;
			}
		}
	}
}

/**
*	Serves to generate grid columns
*	@category private
*/
@mixin grid-columns($suffix: "") {
  $columns: this.config(columns-counts);
  @for $i from 1 through $columns {
    > .cell#{$suffix}-#{$i} {
      flex-basis: percentage($i / $columns);
      min-width: percentage($i / $columns);
    }
  }
}

@mixin generate-custom-grid($val) {
	@if(type-of($val) == number) {
		flex-basis: (100 / $val) + 0%;
		min-width: (100 / $val) + 0%;
	} @else if(type-of($val) == map) {
		@each $rule, $v in $val {
			&:nth-child(#{$rule}) {
				flex-basis: $v;
				min-width: $v;
			}
		}
	}
}
