<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo icons</title>
    <style>
    body {
    	background-color: #fff;
    	color: #363638;
    	margin: 0;
    }
    .ungic_icons-page {
        max-width: 1000px;
        margin: 20px auto;
    }

    .ungic_icons-page h2 {
        font-size: 2em;
        margin-bottom: 1em;
        color: #282a2f;
        font-weight: normal;
    }

    .ungic_icons-page .icon-name {
        display: block;
        line-height: 1;
        margin-top: .5em;
        color: #3f3f43;
    }

    .ungic_icons-items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
        padding-bottom: 2em;
    }

    .ungic_icons-items:not(:last-child) {
        border: none;
        border-bottom: 2px solid #f8f8f8;
    }

    .ungic_icons-item {
        padding: 1.5em;
        text-align: center;
        transition: all .2s;
    }

    .ungic_icons-item:hover {
        transform: scale(1.2);
    }
    .no-icons {
        text-align: center;
        padding: 20px;
    }
    </style>
    {{#unless release}}
        <link rel="stylesheet" href="{{address}}/ungic/font-icons">
        <link rel="stylesheet" href="{{address}}/ungic/sprites">
        <script src="{{address}}/ungic/pipe?as=ungic-icons,icons"></script>
    {{/unless}}
    {{#if release}}
        {{#each stylesheets}}
            <link rel="stylesheet" href="{{{href}}}">
        {{/each}}
    {{/if}}
</head>
<body>
    {{#unless icons}}
        <h2 class="no-icons">The project has no icons</h2>
    {{/unless}}
    {{#if icons}}
        <div class="ungic_icons-page">
            {{#if icons.svgSprite}}
            <h2>Svg sprite</h2>
            <div class="ungic_icons-items">
                {{#each icons.svgSprite}}
                <div role="button" title="{{{id}}}" class="ungic_icons-item" data-id="{{id}}">
                    {{{icons_icon id}}}
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{#if icons.sprites}}
            <h2>Image sprite</h2>
            <div class="ungic_icons-items">
                {{#each icons.sprites}}
                <div role="button" title="{{{id}}}" class="ungic_icons-item" data-id="{{id}}">
                    {{{icons_icon id}}}
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{#if icons.fonts}}
            <h2>Font icons</h2>
            <div class="ungic_icons-items">
                {{#each icons.fonts}}
                <div role="button" title="{{{id}}}" class="ungic_icons-item" data-id="{{id}}">
                    {{{icons_icon id}}}
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        <script>
        document.addEventListener('click', function(e) {
            let parent = e.target.closest(".ungic_icons-item");
            if (e.target.classList.contains('ungic_icons-item') || parent) {
                let el = parent ? parent : e.target;
                let id = el.getAttribute('data-id');
                var copyText = document.createElement("input");
                copyText.value = id;
                copyText.style.position = 'absolute';
                copyText.style.top = '-1000px';
                copyText.style.opacity = 0;
                document.querySelector('body').appendChild(copyText);
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                let notifi = document.createElement('div');
                notifi.style.backgroundColor = '#5cc80d';
                notifi.style.color = '#FFF';
                notifi.style.fontSize = '20px';
                notifi.style.padding = '8px 20px';
                notifi.style.borderRadius = '4px';
                notifi.style.position = 'fixed';
                notifi.style.fontFamily = 'Arial';
                notifi.style.left = '20px';
                notifi.style.top = '20px';
                notifi.style.boxShadow = '3px 3px 12px rgba(0,0,0,.2)';
                notifi.style.zIndex = '1000';
                notifi.innerHTML = 'ID copied!'
                document.querySelector('body').appendChild(notifi);
                setTimeout(function() {
                    notifi.remove();
                    copyText.remove();
                }, 1000);
            }
        });
        </script>
        {{{svgSprite}}}
    {{/if}}
</body>
</html>