<div>
    <p>Include path 1</p>
    <p>You can use handlebars helpers {{{icon "svg_bitbucket"}}}</p>
    <p><b>SRC</b> helper to get resource from dist directory and save the relationship (If the dist file will be modified, the page will reload).</p>
    <img src='{{src "img/logo.png"}}' alt="" height="100">
    {{{include "parts/test_part3.html"}}}
</div>