@use "sass:meta";
@use "sass:map";
@use "ungic.utils" as un-utils;
@use "ungic.meta" as un-meta;
@use "ungic.project.config" as project-config;
@use "ungic.themes.{{theme}}" as theme;

$theme-options: meta.module-variables(theme);


$cids: ({{#each components}}{{.}},{{/each}});

$theme-prefix: {{themePrefix}};
$default-theme: {{defaultTheme}};

@use "ungic.components" with ($cids: $cids);
$inverse-mode: false;
{{#if inverse}}
   $inverse-mode: true;
{{/if}}

$theme-options: map.merge($theme-options, (theme-name: {{theme}}));

$theme-config: map.merge(map.get($theme-options, config), (inverse: {{defaultInverse}}));
$theme-options: map.merge($theme-options, (config: $theme-config));

$project-configs: meta.module-variables(project-config);
$project: (theme: $theme-options, theme-prefix: $theme-prefix, default-theme: $default-theme, inverse-mode: $inverse-mode, config: $project-configs);

@use "ungic.theme.init" as ungic_theme with (
    $project: $project
);

$theme: ungic_theme.get();

{{#unless inverse}}
    $export: un-meta.export(project, theme, $theme-options);
    $export: un-meta.export(project, config, $project-configs);
{{/unless}}

@use "ungic.project.properties" as p-properties;
$project-properties: meta.module-variables(p-properties);

{{#each components}}
    @use "ungic.components.{{.}}.properties" as {{.}}-properties;
    $properties: un-utils.merge($project-properties, meta.module-variables({{.}}-properties));

    @use "ungic.components.{{.}}.properties_over" as {{.}}-properties_over with (
        $cid: {{.}},
        $properties: $properties
    );
    $properties: {{.}}-properties_over.$properties;

    @use "ungic.components.{{.}}.core.props.config" as {{.}}-core_props with (
        $properties: $properties,
        $private_properties: meta.module-variables({{.}}-properties)
    );

    @use "ungic.components.{{.}}.config" as {{.}}-config;
    $config: meta.module-variables({{.}}-config);
    @use "ungic.components.{{.}}.config_over" as {{.}}-config_over with (
        $cid: {{.}},
        $config: $config
    );
    $config: {{.}}-config_over.$config;
    {{#unless ../inverse}}
        $export: un-meta.export({{.}}, config, $config);
    {{/unless}}

    $project: map.merge($project, (properties: $project-properties));
    @use "ungic.components.{{.}}.core.config" as {{.}}-core with (
        $cid: {{.}},
        $config: $config,
        $project: $project
    );
    {{#unless ../inverse}}
        @use "ungic.components.{{.}}.once" as {{.}}-once;
    {{/unless}}
{{/each}}

{{#each render}}
    {{#if ../inverse}}
        .un-inverse {
            {{#if ../themePrefix}}
                &.un-theme-{{../theme}} {
                    @include meta.load-css("ungic.components.{{.}}.render");
                }
            {{/if}}
            {{#unless ../themePrefix}}
                @include meta.load-css("ungic.components.{{.}}.render");
            {{/unless}}
        }
    {{/if}}

    {{#unless ../inverse}}
        {{#if ../themePrefix}}
            .un-theme-{{../theme}} {
                @include meta.load-css("ungic.components.{{.}}.render");
            }
        {{/if}}
        {{#unless ../themePrefix}}
            @include meta.load-css("ungic.components.{{.}}.render");
        {{/unless}}
    {{/unless}}
{{/each}}
