$colors: ( // List type possible for all colors (is_light_theme, is_dark_theme)
    primary: #9cef0a,
    secondary: #3d3931,
    success: #cce678,
    danger: #e6787d,
    info: #4bafee,
    warning: #eee84b,
    system: (#cf7e16, #e8a900),
    text-color: (#3a3b39, #fff9ea),
    background-color: (#FFF, #202120)
);

$config: (
    brightness: (
        offset-brighten: 20,            // List type possible (is_light_theme, is_dark_theme)
        offset-dim: 20,                 // List type possible (is_light_theme, is_dark_theme)
        saturation-brighten: (0, 0),    // List type possible (is_light_theme, is_dark_theme)
        saturation-dim: (0, 0)          // List type possible (is_light_theme, is_dark_theme)
    ),
    relative-light-limit : true,
    gray: (
        saturation: 5%,     // List type possible (is_light_theme, is_dark_theme)
        hue: blue           // List type possible (is_light_theme, is_dark_theme)
    )
);

$palettes: (
    primary: (
        lighten: #e8f2c7,
        darken: #4c5d15
    ),
    secondary: (
        lighten: #f5f3e6,
        darken: #2a2925
    )
);