$colors: ( // List type possible for all colors (is_light_theme, is_dark_theme)
    primary: #903c33,
    secondary: #457682,
    success: #1BC167,
    danger: #d13838,
    info: #549bd3,
    warning: #d6ad50,
    system: #41b9bd,
    text-color: (#2b1c1c, #f9f6ee),
    background-color: (#FFF, #2b1c1c)
);

$config: (
    brightness: (
        offset-brighten: 20,            // List type possible (is_light_theme, is_dark_theme)
        offset-dim: 20,                 // List type possible (is_light_theme, is_dark_theme)
        saturation-brighten: (0, 10%),    // List type possible (is_light_theme, is_dark_theme)
        saturation-dim: (0, 0)          // List type possible (is_light_theme, is_dark_theme)
    ),
    relative-light-limit : true,
    gray: (
        saturation: (20%, 15%),     // List type possible (is_light_theme, is_dark_theme)
        hue: red           // List type possible (is_light_theme, is_dark_theme)
    )
);
