$colors: ( // List type possible for all colors (is_light_theme, is_dark_theme)
    primary:#879d23,
    secondary: #453c2f,
    success: #8bbf31,
    danger: #FF5252,
    info: #2196F3,
    warning: #FFC94B,
    system: #9e8e25,
    text-color: (#262507, #fdfbec),
    background-color: (#fdfbec, #3a3938)
);

$config: (
    brightness: (
        offset-brighten: 20,            // List type possible (is_light_theme, is_dark_theme)
        offset-dim: 20,                 // List type possible (is_light_theme, is_dark_theme)
        saturation-brighten: (0, 10%),    // List type possible (is_light_theme, is_dark_theme)
        saturation-dim: (0, 0)          // List type possible (is_light_theme, is_dark_theme)
    ),
    relative-light-limit : true,
    gray: (
        saturation: (40%, 5%),     // List type possible (is_light_theme, is_dark_theme)
        hue: #3d362c           // List type possible (is_light_theme, is_dark_theme)
    )
);
