$colors: ( // List type possible for all colors (is_light_theme, is_dark_theme)
    primary: #817ee9,
    secondary: #1d1d27,
    success: #1BC167,
    danger: #FF5252,
    info: #2196F3,
    warning: #FFC94B,
    system: #6a67d0,
    text-color: (#2c2c38, #f6f5fc),
    background-color: (#f6f5fc, #2c2c38)
);

$config: (
    brightness: (
        offset-brighten: 0,            // List type possible (is_light_theme, is_dark_theme)
        offset-dim: 0,                 // List type possible (is_light_theme, is_dark_theme)
        saturation-brighten: (0, 0),    // List type possible (is_light_theme, is_dark_theme)
        saturation-dim: (0, 0)          // List type possible (is_light_theme, is_dark_theme)
    ),
    relative-light-limit : true,
    gray: (
        saturation: (20%, 12%),     // List type possible (is_light_theme, is_dark_theme)
        hue: blue           // List type possible (is_light_theme, is_dark_theme)
    )
);
