@use ".core" as this;
@use "ungic.theme" as *;
@use "functions" as *;
@use "mixins" as *;
@use "ungic.meta" as un-meta;
@use "ungic.utils" as un-utils;
@use "ungic.components" as components;

@use "sass:meta" as meta;
@use "sass:map" as map;

@keyframes highlight {
  0% {
    background-color: color(system, 9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    background-color: transparent;
  }
}
.fg-stretch {
  flex-grow: 1;
}
[hidden] {
  display: none !important;
}
.highlight {
  position: relative;
  display: inline-block;
  color: color(system, -7);
  animation: highlight 0.5s;
}

.sep {
  &:not(:last-child) {
    &:after {
      content: ", ";
    }
  }
}

.sep-children {
  > * {
    &:not(:last-child) {
      &:after {
        content: ", ";
      }
    }
  }
}

.space {
  height: u(this.prop(padding-top)) / 2;
}

.ibox {
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  > img {
    display: block;
    max-width: 100%;
  }
  &-contain {
    > img {
      object-fit: contain;
      max-height: 100%;
    }
    background-size: contain;
  }
  &-cover {
    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    background-size: cover;
  }
  &-fill {
    > img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

.img {
  &-contain,
  &-fill,
  &-cover {
    display: block;
  }

  &-cover,
  &-fill {
    width: 100%;
    height: 100%;
  }

  &-cover {
    object-fit: cover;
  }

  &-contain {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  &-fill {
    object-fit: fill;
  }
}
.bg {
  &-center {
    background-position: 50% 50%;
  }
}
.text {
  &-center {
    text-align: center;
  }

  &-start {
    text-align: left;
  }

  &-end {
    text-align: right;
  }

  &-justify {
    text-align: justify;
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-inline {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.base {
  &-fs {
    font-size: this.prop(font-size) !important;
  }
  &-lh {
    line-height: this.prop(line-height) !important;
  }
  &-ff {
    font-family: this.prop(font-family) !important;
  }
  &-size-content {
    &:before,
    &:after {
      font-size: this.prop(font-size) !important;
    }
  }
}

.va {
  &-middle {
    vertical-align: middle;
  }

  &-baseline {
    vertical-align: baseline;
  }

  &-top {
    vertical-align: top;
  }

  &-bottom {
    vertical-align: bottom;
  }
}

.list {
  &-circle {
    list-style: circle;
  }

  &-decimal {
    list-style: decimal;
  }

  &-square {
    list-style: square;
  }

  &-disc {
    list-style: disc;
  }

  &-ll {
    list-style: lower-latin;
  }

  &-none {
    list-style: none;
    &-deep {
      &,
      ul {
        list-style: none;
      }
    }
  }
}

.has {
  &-float {
    position: relative;
  }
}

.pos {
  &-rel {
    position: relative;
  }

  &-abs {
    position: absolute;
  }

  &-fix {
    position: fixed;
  }
  &-stretch {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &-x {
    left: 0;
    right: 0;
    &a {
      left: 0;
      &-offset {
        left: auto;
        right: 100%;
      }
    }
    &b {
      right: 0;
      &-offset {
        right: auto;
        left: 100%;
      }
    }
  }
  &-y {
    top: 0;
    bottom: 0;
    &a {
      top: 0;

      &-offset {
        top: auto;
        bottom: 100%;
      }
    }
    &b {
      bottom: 0;

      &-offset {
        bottom: auto;
        top: 100%;
      }
    }
  }
}

.td {
  &-ul {
    text-decoration: underline;
  }

  &-ol {
    text-decoration: overline;
  }

  &-lt {
    text-decoration: line-through;
  }
  &-none {
    &,
    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }
    &-deep {
      a {
        &,
        &:focus,
        &:hover,
        &:active {
          text-decoration: none;
        }
      }
    }
  }
}

.tt {
  &-cap {
    text-transform: capitalize;
  }

  &-low {
    text-transform: lowercase;
  }

  &-up {
    text-transform: uppercase;
  }

  &-none {
    text-transform: none;
  }
}

.fw {
  &-100 {
    font-weight: 100;
  }

  &-200 {
    font-weight: 200;
  }

  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }

  &-900 {
    font-weight: 900;
  }
}

.fs {
  &-i {
    font-style: italic;
  }
  &-n {
    font-style: normal;
  }
}

.input {
  &-hidden {
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    border: none;
    outline: none;
    position: absolute;
    background: none;
    overflow: hidden;
  }
}

.auto {
  &-scroll {
    overflow: auto;
    &-y {
      overflow-y: auto;
    }
    &-x {
      overflow-x: auto;
    }
  }
  &-height {
    height: auto;
  }
  &-width {
    height: auto;
  }
  &-mg {
    margin: auto;
    &-x {
      margin: 0 auto;
    }
  }
}

.divider {
  &,
  &-v {
    display: block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      border-radius: 2px;
      background-color: gray(0.9);
    }
  }

  &:after {
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-1px);
    height: 2px;
  }

  &-v {
    margin-left: this.prop(margin-left);
    margin-right: this.prop(margin-right);
    &:after {
      top: 0;
      bottom: 0;
      width: 2px;
      left: 50%;
      transform: translateX(-1px);
      border-bottom: none;
    }
  }
}

.pd {
  padding: this.prop(padding);
  &-hf {
    padding: this.prop(padding) / 2;
  }

  &-x {
    padding-left: this.prop(padding-left);
    padding-right: this.prop(padding-right);

    &-hf {
      padding-left: this.prop(padding-left);
      padding-right: this.prop(padding-right);
    }
  }

  &-y {
    padding-top: this.prop(padding-top);
    padding-bottom: this.prop(padding-bottom);

    &-hf {
      padding-top: this.prop(padding-top) / 2;
      padding-bottom: this.prop(padding-bottom) / 2;
    }
  }

  &-xa {
    padding-left: this.prop(padding-left);

    &-hf {
      padding-left: this.prop(padding-left) / 2;
    }
  }

  &-xb {
    padding-right: this.prop(padding-right);

    &-hf {
      padding-right: this.prop(padding-right) / 2;
    }
  }

  &-ya {
    padding-top: this.prop(padding-top);

    &-hf {
      padding-top: this.prop(padding-top) / 2;
    }
  }

  &-yb {
    padding-bottom: this.prop(padding-bottom);

    &-hf {
      padding-bottom: this.prop(padding-bottom) / 2;
    }
  }
}

.size {
  @include tool-step(this.config(sizes), (font-size));
}

.sr-fix {
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.round {
  border-radius: 3px;
}

.rounded {
  border-radius: 50%;
}

.aratio {
  padding-top: 100%;
  display: flex;
  position: relative;
  .img {
    &-contain,
    &-fill,
    &-cover {
      height: auto;
      max-height: 100%;
    }
  }

  .ibox {
    img {
      height: auto;
      max-height: 100%;
    }
  }

  > *,
  > * {
    display: block;
    &.row,
    &.column {
      display: flex;
    }
    margin-top: -100%;
  }

  &[data-ratio="16:9"] {
    padding-top: 56.25%;

    > *,
    > * {
      margin-top: -56.25%;
    }
  }

  &[data-ratio="9:4"] {
    padding-top: 44.4%;

    > *,
    > * {
      margin-top: -44.4%;
    }
  }

  &[data-ratio="20:11"] {
    padding-top: 55%;

    > *,
    > * {
      margin-top: -55%;
    }
  }

  &[data-ratio="4:3"] {
    padding-top: 50%;

    > *,
    > * {
      margin-top: -50%;
    }
  }

  &[data-ratio="3:2"] {
    padding-top: 66.66%;

    > *,
    > * {
      margin-top: -66.66%;
    }
  }

  &[data-ratio="8:5"] {
    padding-top: 62.5%;

    > *,
    > * {
      margin-top: -62.5%;
    }
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-text {
    cursor: text;
  }

  &-def {
    cursor: default;
  }
}

.block {
  display: block;
  &-center {
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}

.iblock {
  display: inline-block;
}

.iflex {
  display: inline-flex;
}

.inherit {
  &-height {
    height: inherit;
  }
  &-width {
    width: inherit;
  }
  &-mg {
    margin: inherit;
  }
  &-pd {
    padding: inherit;
  }
}

.stretch {
  width: 100%;
  height: 100%;
  &-w {
    min-width: 100%;
  }
  &-h {
    min-height: 100%;
  }
  &-hv {
    min-height: 100vh;
  }
  &-wv {
    min-width: 100vw;
  }
}

.no {
  &-pos {
    position: static !important;
  }

  &-aratio {
    &,
    &[data-ratio] {
      padding-top: 0;

      > div,
      > span {
        margin-top: 0;
      }
    }
  }

  &-pointer {
    pointer-events: none !important;
  }

  &-fs {
    font-style: normal !important;
  }

  &-mg {
    margin: 0 !important;

    &-x {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &-y {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &-xa {
      margin-left: 0 !important;
    }

    &-xb {
      margin-right: 0 !important;
    }

    &-ya {
      margin-top: 0 !important;
    }

    &-yb {
      margin-bottom: 0 !important;
    }
  }

  &-pd {
    padding: 0 !important;

    &-x {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &-y {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &-xa {
      padding-left: 0 !important;
    }

    &-xb {
      padding-right: 0 !important;
    }

    &-ya {
      padding-top: 0 !important;
    }

    &-yb {
      padding-bottom: 0 !important;
    }
  }
  &-td {
    text-decoration: none;
  }
  &-tt {
    text-transform: none;
  }
  &-bd {
    border: none;
  }
  &-bg {
    background: none;
  }
  &-bgc {
    background-color: none;
  }
  &-scroll {
    overflow: hidden;
    &-x {
      overflow-x: hidden;
    }
    &-y {
      overflow-y: hidden;
    }
  }
  &-ls {
    list-style: none;
    margin: 0;
    padding: 0;
    &-deep {
      ul,
      ol {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  &-select {
    user-select: none;
  }
  &-outline {
    &,
    &:focus {
      outline: none;
    }
  }
}
